body {
  margin: 0;
  min-height: 100vh;
}

/* %는 부모의 높이나 너비가 명확히 나와있어야 적용 가능 */
.box-1 > div {
  position: absolute;
  width: 50%;
  height: 50%;
  transition: width 1s, height 1s;
}

div:nth-child(1) {
  top: 0;
  left: 0;
  background-color: red;
}


div:nth-child(2) {
  top: 0;
  right: 0;
  background-color: green;
}

div:nth-child(3) {
  bottom: 0;
  left: 0;
  background-color: pink;
}

div:nth-child(1),
div:nth-child(4) {
  width: 0;
}

div:nth-child(2),
div:nth-child(3) {
  height: 0;
}

div:nth-child(4) {
  bottom: 0;
  right: 0;
  background-color: yellow;
}

body:hover > .box-1 > div {
  width: 50%;
  height: 50%;
}