body {
  margin: 0;
}

div {
  height: 500px;
  width: 10%;
  background-color: red;
  /* 줄어들 때 1초 */
  transition: width 1s; 
}

body:hover > div {
  width: 50%;
  opacity: 1;
  /* 늘어날 때 3초 */
  transition: width 3s; 
}