/* 폰트 시작 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

html {
  font-family: 'LotteMartDream', sans-serif;
}
/* 폰트 끝 */

/* 노말라이즈 시작 */
body, ul, li {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}
/* 노말라이즈 끝 */

/* 라이브러리 시작 */
.con {
  margin-left:auto;
  margin-right:auto;
}

.block {
  display:block;
}

.bg-red {
  background-color:red;
}

.bg-blue {
  background-color:blue;
}

.img-box > img {
  width:100%;
  display:block;
}

.block {
  display:block;
}

.float-grid {
  content: "";
  display: block;
  clear: both;
}

.float-grid > * {
  float: left;
  box-sizing: border-box;
}
/* 라이브러리 끝 */

/* 커스텀 시작 */
/* 우측 갤러리 구현 시작 */
:root {
  --side-bar__phase-1-width : 60px;
}

.section-gallery {
  margin-left: var(--side-bar__phase-1-width);
}

.section-gallery__img-list > ul > li {
  width: 50%;
}
/* 우측 갤러리 구현 끝 */

/* 사이드바 시작 */
:root {
  --site-bar__status-ico__transition-duration : .4s;
  --site-bar__background-color : #13181E;
  --site-bar__color : #fff;
}

.side-bar {
  background-color: var(--site-bar__background-color);
  width: 400px;
  height: 100vh;
  color: var(--site-bar__color);
  font-size: 2rem;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
}

.text {
  font-size: 3rem;
  color: var(--site-bar__color);
  font-style: italic;
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.2);
  transition: text-shadow .12s;
}

.text:hover {
  text-shadow: 0 0 2px rgba(255, 255, 255, 1);
}

.side-bar__menu-box-1 > ul > li > a {
  display: block;
}

.side-bar__menu-box-1 > ul > li > a > span {
  vertical-align: middle;
}

.side-bar__menu-box-1 > ul > li > a > span:first-child {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
}

.side-bar__menu-box-1 > ul > li > a > span:first-child > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side-bar__menu-box-1 > ul > li > a > span:last-child {
  font-weight: bold;
}

/* 햄버거 아이콘 시작  */
.side-bar__status-ico {
  width: 50px;
  height: 50px;
  position: relative;
}

.side-bar__status-ico > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: black;
  transition: all var(--site-bar__status-ico__transition-duration);
}

/* 사이트 바- 첫 번째 막대 */
.side-bar__status-ico > div:nth-child(1) {
  width: auto;
  left: 0;
  right: 0;
  transition: all var(--site-bar__status-ico__transition-duration), 
  left calc(var(--site-bar__status-ico__transition-duration) / 2) calc(var(--site-bar__status-ico__transition-duration) / 2), 
  right calc(var(--site-bar__status-ico__transition-duration) / 2) calc(var(--site-bar__status-ico__transition-duration) / 2), 
  height calc(var(--site-bar__status-ico__transition-duration) / 2) 0s ;
}

body:hover > .side-bar__status-ico > div:nth-child(1) {
  left: 40%;
  right: 40%;
  height: 100%;
  transition: all var(--site-bar__status-ico__transition-duration), 
  left calc(var(--site-bar__status-ico__transition-duration) / 2) 0s, 
  right calc(var(--site-bar__status-ico__transition-duration) / 2) 0s, 
  height calc(var(--site-bar__status-ico__transition-duration) / 2) calc(var(--site-bar__status-ico__transition-duration) / 2);
}

/* 사이트 바- 두번째 막대 */
.side-bar__status-ico > div:nth-child(2) {
  top: 40%;
  transform-origin: bottom left;  /* 요소 변환의 원점 */
}

body:hover > .side-bar__status-ico > div:nth-child(2) {
  transform: rotate(45deg);
  width: 70.5%;
}

/* 사이트 바- 세번째 막대 */
.side-bar__status-ico > div:nth-child(3) {
  top: 80%;
  /* 오른쪽 정렬 */
  left: auto;
  right: 0;
  transform-origin: bottom right; 
}

body:hover > .side-bar__status-ico > div:nth-child(3) {
  transform: rotate(-45deg);
  top: 40%;
  width: 70.5%;
}

/* 햄버거 아이콘 끝 */
/* 사이드 바 끝 */
/* 커스텀 끝 */