div {
  padding:10px;
  font-size:2rem;
  width:1000px;
  margin:0 auto;
  background-color:red;
  white-space:nowrap;
  /* 가로방향으로 스크롤바를 무조건 생성(넘치치 않으면 스크롤바가 안생김) */
  /* overflow-x:auto; */
  /* 가로 방향으로 무조건 스크롤 생성 */
  /* overflow-x: scroll; */
  /* 가로 방향으로 넘치는 내용은 숨김 */
  overflow: hidden;
}