section {
  width: 500px;
  height: 500px;
}

section > div {
  position: absolute;
  width: 50%;
  height: 25%;
}

/* z-index의 값이 크면 제일 위로 올라온다. */
section > div:nth-child(1) {
  background-color: yellow;
  top: 0;
  left: 0;
  z-index: 5; 
}

/* z-index의 값이 작으면 아래로 내려간다. */
section > div:nth-child(2) {
  background-color: blue;
  top: 10%;
  left: 10%;
  z-index: 4;
}

section > div:nth-child(3) {
  background-color: red;
  top: 20%;
  left: 20%;
  z-index: 3;
}

section > div:nth-child(4) {
  background-color: violet;
  top: 30%;
  left: 30%;
  z-index: 2;
}

/* z-index가 없으면 기본적으로 경쟁에서 밀린다*/
section > div:nth-child(5) {
  background-color: pink;
  top: 40%;
  left: 40%;
}

