div {
  width: 100px;
  height: 100px;
  background-color: red;
}

/* 왼쪽에 margin 100px */
div:nth-child(1) {
  margin-left: 100px;
}

/* auto는 놓아버린다고 생각 */
/* 오른쪽으로 margin 100px 정렬 */
div:nth-child(2) {
  margin-left: auto;
  margin-right: 100px;
  background-color: green;
}

/* 왼쪽, 오른쪽 양쪽에서 놓아버리기 (auto) */
/* 중앙정렬 */
div:nth-child(3) {
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}
