section > div {
  width: 13%;
  height: 100px;
  background-color: red;
  display: inline-block;
}

div:nth-child(7n+2) {
  background-color: orange;
}

div:nth-child(7n+3) {
  background-color: yellow;
}

div:nth-child(7n+4) {
  background-color: green;
}

div:nth-child(7n+5) {
  background-color: blue;
}

div:nth-child(7n+6) {
  background-color: navy;
}

div:nth-child(7n+7) {
  background-color: purple;
}