a {
  color: black;
  text-decoration: none;
}
div {
  text-align: center;
}

div > a {
  font-size: 4rem;
  font-weight: bold;
}


section {
  text-align: center;
  font-weight: bold;
}

section > a {
  width: 120px;
  color: black;
  display: inline-block;
}
