section {
  background-color: black;
  text-align: center;
}

section > div {
  width: 100px;
  height: 100px;
  background-color: red;
  display: inline-block;
}

section > div:hover {
  background-color: blue;
}