:root {
  --main-transition-delay:10s;
}

.box-1 {
  height:100px;
  border:10px solid black;
}

.box-1 > .gage {
  height:100%;
  width:0;
  background-color:red;
  transition: var(--main-transition-delay) cubic-bezier(.61,.25,.32,1.07);
}

body:hover > .box-1 > .gage {
  width: 100%;
}