/* 노말라이즈 */
body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

/* 라이브러리 - 범용적으로 적용, 사이트가 바뀌어도 변하지 않음 */
.con {
  margin-left: auto;
  margin-right: auto;
}
.block {
  display: block;
}

/* 커스텀 - 오직 이 페이지에서만 적용 */
:root {
  --site-width : 500px;
}

.con-min-width {
  min-width: var(--site-width);
}

.con {
  width: var(--site-width);
}

/* 탑바 시작 */

.top-bar {
  background-color: black;
  color: white;
  font-size: 2rem;
}

.top-bar__left-box {
  display: inline-block;
  width: 200px;
}

.top-bar__right-box {
  display: inline-block;
  width: calc(100% - 200px);
}

.top-bar__logo {
  padding: 10px 0;
}
/* 탑바 끝 */

/* 커스텀 끝 */