/* 노말라이즈 시작 */
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* 노말라이즈 끝 */

/* 라이브러리 시작 */
.con {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}
/* 라이브러리 끝 */

/* 커스텀 시작 */
:root {
  --site-width : 1200px;
}

.con-min-width {
  min-width: var(--site-width);
  padding: 0 10px;
}

.con {
  width: var(--site-width);
}

/* 로고바 시작 */
.logo-bar__logo > span {
  font-size: 5rem;
}

.logo-bar__logo > span:last-child {
  font-weight: bold;
  text-decoration: underline;
}
.logo-bar__logo > span:last-child > span:nth-child(2) {
  color: red;
}
/* 로고바 끝 */
/* 커스텀 끝 */
